* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

h1 {
    display: block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row button {
    margin-right: 10px;
}